.git
.gitignore
.dockerignore

.env
.venv/
.vscode/
.pytest_cache/
__pycache__/
*.py[cod]
*.pyo
*.pyd

.DS_Store
.coverage
coverage.xml
htmlcov/
test.db

node_modules/
package-lock.json
package.json

data/
deliverables/
scripts/
tests/

app/credentials/
